<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNgDemo">
	<test thread-count="5" name="Functional Test">
		<classes>
			<class name="TestNG_Demo.TestNGSoftAssertion" />
			<class name="TestNG_Demo.TestNGHardAssertion" />
			<class name="TestNG_Demo.mercury_tours_TestNG" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
